{% extends 'base.html.twig' %}

{% block title %}TypeBillet{% endblock %}

{% block body %}
    <h1>TypeBillet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_billet.id }}</td>
            </tr>
            <tr>
                <th>Classe</th>
                <td>{{ type_billet.classe }}</td>
            </tr>
            <tr>
                <th>Services</th>
                <td>{{ type_billet.Services }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_billet_index') }}">back to list</a>

    <a href="{{ path('app_type_billet_edit', {'id': type_billet.id}) }}">edit</a>

    {{ include('type_billet/_delete_form.html.twig') }}
{% endblock %}
